.popup__container_photo {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background: none;
}

@media screen and (max-width: 560px) {
    .popup__container_photo {
        max-width: 240px;
    }
}