.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(282px, 1fr));
    row-gap: 21px;
    column-gap: 18px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 750px) {
    .cards {
        padding: 0 19px;
    }
}

@media screen and (max-width: 319px) {
    .cards {
        padding: 0;
    }
}