@import url(./_clicked/element__like_clicked.css);
@import url(./_place/element__like_place.css);

.element__like {
    background: url(./../../../images/like.svg) no-repeat center center;
    background-size: contain;
    outline: none;
    border: none;
    width: 23px;
    min-width: 23px;
    height: 21px;
}

.element__like:hover {
    cursor: pointer;
    opacity: 0.6;
}